# --- Core Backend ---
fastapi
uvicorn

# --- Frontend ---
#streamlit

# --- OpenAI + LangChain ---
openai
# langchain
# langchain-community
# langchain-core
# langchain-openai
langchain-text-splitters

# --- Vector DBs ---
pymilvus
psycopg2-binary     # PGVector 用

# --- Embeddings / NLP / Transformers ---
# transformers
# huggingface-hub
# tokenizers
sentence-transformers
tiktoken

# --- CKIP Transformers ---
#ckip-transformers

# --- Data / Utils / Web ---
pydantic
python-dotenv
requests
aiohttp
# numpy
# pandas
beautifulsoup4
APScheduler
slowapi
tenacity

# --- RAG evaluation & Testing ---
# ragas
pytest

# --- Optional but recommended ---
  # embedding 常用，如 all-MiniLM

# --- Database / ML ---
# torch
bcrypt
PyJWT
python-multipart